<%= form_for(@new_skill_get) do |f| %>
  <% if @new_skill_get.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_skill_get.errors.count, "error") %> prohibited this new_skill_get from being saved:</h2>

      <ul>
      <% @new_skill_get.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, (I18n.t"title") %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.select(:new_skill_get_kind_id, @new_skill_get_kinds.collect{|t| [t.title, t.id]}, :prompt => (I18n.t"select_new_skill_get_kind")) %>
  </div>
  <div class="field">
    <%= f.label :content, (I18n.t"content") %><br>
    <%= f.text_area :content %>
  </div>


  <div class="actions">
    <%= f.submit(I18n.t"new_new_skill_get") %>
  </div>
<% end %>
