<h1><%= I18n.t"new_skill_get" %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t"title" %></th>
      <th><%= I18n.t"content" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @new_skill_gets.each do |new_skill_get| %>
      <tr>
        <td><%= new_skill_get.title %></td>
        <td><%= new_skill_get.content %></td>
        <td><%= link_to 'Show', new_skill_get %></td>
        <td><%= link_to 'Edit', edit_new_skill_get_path(new_skill_get) %></td>
        <td><%= link_to 'Destroy', new_skill_get, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (I18n.t"new_new_skill_get"), new_new_skill_get_path %>
